
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Open', sans-serif;
}

.wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative; 
  width: 100%;
  height: 100%;
}

#photo {
  height: 100%;
  width: 100%;
  display: block;
}
.nav {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%; 
  z-index: 1;
  padding-top: 25px;
  padding-left: 240px;
  padding-right: 280px;
}

.link {
  display: flex;
  
  gap: 35px;
  align-items: center;
}
.icon {
  display: flex;
  gap: 12px;
  align-items: center;
  z-index: 1;
  width: 171px;
  height:41px
 }
 
 .icon i {
 font-size: 35px;
  width: 41;
  height: 41px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background: none;
}



#links {
  color: white;
  text-decoration: none;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 28px;
}
#logo {
  height: 27.06px;
  width: 33.31px;
  cursor: pointer;
  object-fit: contain;
}

.sub-content {
  position: absolute;
  bottom: 200px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
  z-index: 1;
  gap: 7px;
}

#heading {
  font-size: 60px;
  margin-bottom: 10px;
  font-size: 74px;
  font-weight: 700;
  line-height: 84px;
  letter-spacing: 0.2px;
}

#para {
  font-size: 29px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.2px;
  margin-top: 10px;
  margin-bottom: 29px;
}

#btn {
  padding: 15px 48px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #007bff;
  color: white;
  border-radius: 25px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.2px;
  border: none;
  cursor: pointer;
}



.features {
  margin-top: 88px;
  min-height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.feature-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
.feature-heading h2 {
  font-size: 48px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 0.2px;
  color: #252B42;
}
.feature-heading p {
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.2px;
  color: #374754;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  margin-top: 90px;
}
.box1 ,.box2 ,.box3{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
h3 {
  font-weight: 700;
  font-size: 20px;
  color: #252B42;
  margin-bottom: 10px;
  text-align: center;
  line-height: 28px;
  letter-spacing: 0.1px;
}

.figmalogo{
width: 186px;
height: 58px;
background: url(logo-light.png);
flex: none;
order: 0;
flex-grow: 0;

}

#slate {
  font-size: 18px;
  color: #374754; 
  text-align: center;
  line-height: 25px;
  letter-spacing: 0.2;
  font-weight: 400;
  max-width: 240px;
  margin: 0 auto;
}
#img2{
    margin-left: 20px;
}
#img3{
    margin-left: 20px;
}
.video {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 100px auto;
  padding: 30px; 
  cursor: pointer;
}
#myVideo {
  max-width: 90%;
  height: auto;
  border-radius: 30px;
  box-shadow: 
  0 -10px 20px -5px rgba(0, 0, 0, 0.5), 
  0 10px 20px -5px rgba(0, 0, 0, 0.5),  
  -10px 0 20px -5px rgba(0, 0, 0, 0.5), 
  10px 0 20px -5px rgba(0, 0, 0, 0.5);  
}

#playIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: white;
  opacity: 0.7;
  display: block; 
  pointer-events: none;
}

/* page3 */

.page3{
  min-height: 80vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 226px 82px 226px 62px; 
  
}
.section1{
  margin-right: 20px;
}
.section2{
  margin-left: 20px;
}
.section1 h2{
  font-size: 48px;
  color: #252B42;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 0.2px;
  margin-bottom: 18px;
}
.section1 p{
  font-size: 28px;
  color: #374754;
  margin-bottom: 50px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: 0.2px;
}
.section1 button{
  padding: 15px 48px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #007bff;
  color: white;
  border-radius: 25px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.2px;
  border: none;
  cursor: pointer;
}
.section2 img{
  height: 349.17px;
  width: 624.46px;
}

 /* page 4 */

 .page4{
  min-height: 80vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 90px;
 }
 .hero-section{
  margin-right: 100px;
  
 }
 .hero-section #p1, #p2{
  font-weight: bold;
  font-size: 23px;
  color: #1e3452;
 }
 .hero-section #p3{
  font-size: 23px;
  color: #1e3452;
 }
 .hero-section #p1,
 .hero-section h2 {
     margin-bottom: 20px;
 }
 .hero-section h2{
  font-size: 40px;
  color: #1f2937;
  font-weight: 350;
 }
 .hero-section input{
  margin-top: 40px;
  padding: 10px 30px;
  border-radius: 25px;
  background-color: rgb(227, 227, 227);
  border: none;
 }
 .hero-section input::placeholder{
  color: black;
 }
 .hero-section button{
  padding: 10px 30px;
  background-color: #007bff;
  color: white;
  border-radius: 25px;
  text-decoration: none;
  font-size: 1rem;
  border: none;
  cursor: pointer;
 }


 /* page 5 */

 .page5{
  min-height: 50vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 90px;
 }
 .heading5{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
 }

.heading5 h2{
  font-size: 40px;
  color: #1f2937;
  font-weight: 350;
  margin-bottom: 18px;
  margin-top: 30px;
}
.heading5 p{
  font-size: 25px;
  color: rgb(28, 55, 91);
}
.partner{
  display: flex;
  flex-direction: column;
  gap: 0;
}
.row1, .row2{
  display: flex;
  flex-direction: row;
  
}

#google{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(191, 187, 187);
  padding: 25px 25px 25px 25px;
  gap: 17px;
}
#amazon{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(191, 187, 187);
  padding: 25px 25px 25px 25px;
  gap: 17px;
  margin-bottom: 3px;
  margin-top: 2px;
}
#microsoft{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(191, 187, 187);
  padding: 25px 25px 25px 25px;
  gap: 17px;
}
#uber{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(191, 187, 187);
  padding: 25px 25px 25px 25px;
  gap: 17px;
}
#dropbox{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid rgb(191, 187, 187);
  padding: 25px 25px 25px 25px;
  gap: 17px;
  margin-top: 1px;
}
.btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.page5 button{
  padding: 15px 48px;
  background-color: #007bff;
  color: white;
  border-radius: 25px;
  text-decoration: none;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

/* page 6 */

.testimonial {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: auto;
  overflow: hidden;
  padding: 40px 0;
  padding: 10px 0 10px 0
}

.testimonial h2 {
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 40px;
  color: #1f2937;
  font-weight: 350;
  text-align: center;
}

.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-bottom: 0;
  line-height: 0.9;
}


.slides {
  
  display: flex;
  width: 300%;
  transition: transform 1s ease-in-out;
  height: 400px;
}


.slide {
  width: 100vw;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 10px 20px;
  text-align: center;
}


.slide img:first-child {
  width: 120px;
  height: auto;
  margin-top: 0;
}


.slide p {
  margin-top: 10px;
  line-height: 1.4;
  font-size: 23px;
  color: #1e3452;
}


.user1, .user2, .user3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 20px;
  margin-top: 15px;
}

.user1 img, .user2 img, .user3 img {
  border-radius: 50%;
}
.company-logo {
  height: 60px; 
  width: auto;
  object-fit: contain;
}


.user-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  object-fit: cover;
}


.radio {
  text-align: center;
  margin-top: 10px;
  position:relative;
}

.dot {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #171ade; 
  margin: 0 5px;
  cursor: pointer;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: all 0.3s ease;
}

.dot.active {
  background-color: white;
  transform: scale(1.2);
  box-shadow: 0 0 0 2px #0c27f4;
}

/* page 7 */
.pricing{
  overflow-y: hidden;
  height: 1155px;
  width: 100vw;
  background-color: #252B42;
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}
.heading{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.heading7 h2{
  margin-top: 80px;
  margin-bottom: 40px;
  font-size: 48px;
  color: white;
  font-weight: 350;
  text-align: center;
}
.heading7  p{
  margin-top: 10px;
  line-height: 1.4;
  font-size: 28px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.2px;
  color: white;
  text-align: center;
}
.cards{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 50px;
  gap: 30px;
  padding: 40px;
  
}
.card1{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  height: 607px;
  width: 335px ;
  border-radius: 10px;
  border: 1px solid rgb(112, 109, 109);
}
.card2{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #2091F9;
  color: white;
  height: 693px;
  width: 335px; 
  border-radius: 10px;
  border: 1px solid white;
}
.card3{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  height: 607px;
  width: 335px ;
  border-radius: 10px;
  border: 1px solid rgb(112, 109, 109);
}
.card1 h4, .card2 h4, .card3 h4{
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.1px;
  margin-bottom: 10px;

}
.card1 p, .card2 p, .card3 p{
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.1px;letter-spacing: 0.1px;
  margin-bottom: 10px;

}

.card1:hover, .card2:hover, .card3:hover {
  background-color: #91b3d2;
  color: white;
  border: 1px solid #2091F9;
}

.card2:hover {
  background-color: #91b3d2;
  color: black;
  border: 1px solid rgb(112, 109, 109);
}

/* Add button styles */
.card1 button,
.card2 button,
.card3 button {
  padding: 10px 20px;
  margin-top: 20px;
  border: none;
  border-radius: 5px;
  background-color: #2091F9;
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
}


.price{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.price h2{
  font-size: 74px;
  line-height: 84px;
  letter-spacing: 0.2px;
}
.price #doll{
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1px;
  font-weight: 700;
  margin-bottom: 0;
}
  
.price p{
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.1px;
}
.cards ul{
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.2px ;
}
.cards ul li{
  padding: 10px;
  gap: 10px;
}
.card1 button , .card3 button{
  padding: 18px 60px 18px 60px;
  border-radius: 35px;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin-top: 20px;
}
.card2 button{
  padding: 18px 60px 18px 60px;
  border-radius: 35px;
  background-color: white;
  color: #2091F9;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0.2px;
  margin-top: 20px;
}

/* page 8 */
.contact{
  height: 1106px;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.heading8{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.heading8 h2{
  font-size: 48px;
  font-weight: 400;
  line-height: 55px;
  letter-spacing: 0.2px;
  padding: 10px;
  margin-bottom: 7px;
  color: #252B42;
}
.heading8 p{
  padding: 10px;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0.2px;
  color: #374754;
}
.sub-hero {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  gap: 60px;
  padding: 40px;
  flex-wrap: wrap;
}
.form{
  height: 669px;
  width: 453px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #dddddd;
  border-radius: 20px;
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.1);
  gap: 47px;
}
.form input:focus {
  outline: none;
  border: 1px solid #dddddd;
}
.form textarea:focus {
  outline: none;
  border: 1px solid #dddddd;
}
.form input::placeholder{
font-weight: 400;
font-size: 15px;
line-height: 16px;
letter-spacing: 0.1px;
}
.form textarea::placeholder{
  font-weight: 400;
  font-size: 15px;
  line-height: 16px;
  letter-spacing: 0.1px;
  }

.address{
  height:612.17px;
  width: 708px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.detail{
  display: flex;
  
  flex-direction: row;
  gap: 50px;
  justify-content: center;
  align-items: center;
  margin-bottom: 38px;
}
.location , .mobile, .mail{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  gap: 10px;
}
.location p, .mobile p, .mail p{
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.1px;
  color: #374754;
  
}
.map{
width: 516px;
height: 343.19px;
overflow: hidden;
padding-top: 50px;
padding-bottom: 50px;

}

.modal-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.3s ease;
  
}
.modal-container.show{
  pointer-events: auto;
  opacity: 1;
 
}
.modal{
  background-color: #252B42;
  color: white;
  width: 900px;
  max-width: 100%;
  height: 550px;
  padding: 30px 50px;
  border-radius: 20px;
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  

}
.modal h1{
margin-top: 200px;
letter-spacing: 0.2px;
font-weight: 700;
}
.modal button{
  margin-top: 200px;
  border: none;
  transition: box-shadow 0.3s ease;
}
.modal button:hover{
  box-shadow: 0 0 15px #000080, 0 0 25px #000080;

}
.icon8 img{
   justify-content: flex-start;
   gap: 10px;
   padding: 10px;
   margin-top: 24px;
 
}
#img8{
margin-bottom: 3.2px;
}
.icon8{
  margin-top: 50px;
  margin-right: 523px;
}
.form h4{
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0.1px;
  color: #252B42;
}
.form input{
  padding: 19px 20px 19px 20px;
  width: 353px;
  height: 54px;
  border-radius: 39px;
  border: 1px solid #dddddd;

}
.form textarea{
  height: 193px;
  width: 353px;
  border: 1px solid #dddddd;
  padding: 23px 20px 23px 20px;
  resize: none;
}
.form button{
margin-right: 222px;
}

#footer{
  height: 567px;
  width: 100vw;
  color: white;
  background-color: #252B42;
  padding-top: 150px;
  padding-bottom: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 125px;
}

.list1 p{
font-size: 20px;
font-weight: 700;
line-height: 27px;
letter-spacing: 0.1px;
margin-bottom: 20px;
}
.list1 ul{
  font-size: 15px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.1px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  
}
.footerimg{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.imgf1, .imgf2{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.imgf1 p, .imgf2 p{
 font-family: 15px;
 font-weight: 400;
 line-height: 27px;
 letter-spacing: 0.2px;

}
.imgf1{
  gap: 10px;
}
.imgf2{
  margin-right: 32px;
  gap: 10px;
}






.imgf3 {
  display: flex;
  gap: 21px;
  align-items: center;
  z-index: 1;
 }
 
 .imgf3i {
 font-size: 32px;
  
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border: none;
  background: none;
}



@media screen and (max-width: 1024px) {
  .nav {
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    gap: 20px;
  }

  .box {
    flex-direction: column;
    gap: 50px;
  }

  .page3,
  .page4 {
    flex-direction: column;
    text-align: center;
  }

  .section2 img {
    height: 250px;
    margin-top: 20px;
  }

  .cards {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .partner .row1,
  .partner .row2 {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }
}

/* For mobile screens */
@media screen and (max-width: 768px) {
  #heading {
    font-size: 40px;
  }

  #para {
    font-size: 1.2rem;
  }

  .feature-heading h2 {
    font-size: 30px;
  }

  .feature-heading p,
  .section1 p,
  .hero-section p,
  .slide p {
    font-size: 18px;
  }

  .slide {
    padding: 10px;
  }

  .hero-section input,
  .hero-section button {
    width: 80%;
    padding: 10px;
    margin: 10px auto;
  }

  .testimonial h2,
  .heading7 h2 {
    font-size: 30px;
  }

  .heading7 p {
    font-size: 20px;
  }

  .nav {
    flex-direction: column;
    gap: 15px;
  }

  .link, .icon {
    flex-direction: column;
    gap: 15px;
  }
}

.icon-down{
  .icon {
    display: flex;
    gap: 21px;
    align-items:flex-start;
    z-index: 1;
   }
   
}

.icon-down i {
  font-size: 35px;
   
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   border: none;
   background: none;
 }

 #close{
  padding: 15px 48px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: #007bff;
  color: white;
  border-radius: 25px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0.2px;
  border: none;
  cursor: pointer;
}










